.bio-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  > * {
    color: currentColor;
    opacity: .9;
    > * {
      color: currentColor;
      opacity: .9;
    }
    &:not(:first-child) {
      &:before {
        content: "/";
        color: currentColor;
        opacity: .4;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    &:last-child {
      color: currentColor;
      opacity: 1;
    }
  }
}