table.bio-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.bio-table tr {
  border: 1px solid #ddd;
  cursor: pointer;
}
table.bio-table tbody tr:hover {
  @extend ._bgcl-neutral-100;
}

table.bio-table th,
table.bio-table td {
  text-align: center;
  padding: 16px;
}

table.bio-table thead {
  font-size: 1.1rem;
  tr {
    @extend ._bgcl-neutral-300;
  }
}

table.bio-table tbody {
  font-size: 1.1rem;
  tr {
    td {
      word-break: break-all;
    }
  }
}

@include sm-lower {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

table.bio-table {
  .status-disabled,
  .status-positive,
  .status-negative {
    padding: 0;
    font-size: 1.15em;
    font-weight: 600;
    color: white;
  }
  .status-disabled {
    @extend ._cl-dark;
    @extend ._bgcl-gray;
  }
  .status-positive {
    @extend ._bgcl-positive;
  }
  .status-negative {
    @extend ._bgcl-negative;
  }
}